<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Small Dimensions</title>

    <link rel="stylesheet" href="../../static/loginreg/css/bootstrap.css">
    <!-- fontawesome goes here...if you want it -->
    <link rel="stylesheet" href="../../static/loginreg/css/scrolling-nav.css">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">

  </head>
  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a id="sd-logo-slot" class="navbar-brand page-scroll" href="#page-top"><img id="sd-logo" src="../../static/loginreg/images/rainbowstar.png" alt=""></a>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li class="hidden">
              <a class="page-scroll" href="#page-top"></a>
            </li>
            <li>
              <a class="page-scroll" href="#about">About</a>
            </li>
            <li>
              <a class="page-scroll" href="#services">Services</a>
            </li>
            <li>
              <a class="page-scroll" href="#staff">Staff</a>
            </li>
            <li>
              <a class="page-scroll" href="#tuition">Tuition</a>
            </li>
            <li>
              <a class="page-scroll" href="#contact">Contact Us</a>
            </li>
            <li>
              <a class="page-scroll" href="#page-top">Home</a>
            </li>
          </ul>
        </div> <!-- navbar-collapse -->
      </div> <!-- end container -->
    </nav>
    

    <!-- Intro Section -->
    <section id="intro" class="intro-section">
      <div id="hero-text" class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1>Welcome to Small Dimensions!</h1>
            <h3 id="tagline">Let your child grow with us</h3>
            <a class="btn btn-default" href="#contact" role="button">Schedule a Tour Today!</a>
          </div>
        </div>
      </div>
    </section>

    <!-- About Section -->
    <section id="about" class="about-section">
      <div class="container content-container">
        <div class="row">
          <div class="col-xs-5">
            <h1>About</h1>
            <p><strong>Established in 1963</strong>, Small Dimensions Daycare &amp; Pre-School started as a small, family owned in-home center and then grew into a fully licensed child care center serving Bellevue, Washington area families for over 50 years. We're still family owned, and have maintained the same level of personalized, quality care and learning for children ages one through five.</p>
          </div>
          <div class="col-xs-7 carousel slide article-slide" id="article-photo-carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner cont-slider">
              <div class="item active">
                <img alt="" title="" src="../../static/loginreg/images/sd_facility_0.jpg">
              </div>
              <div class="item">
                <img alt="" title="" src="../../static/loginreg/images/sd_facility_1.jpg">
              </div>
              <div class="item">
                <img alt="" title="" src="../../static/loginreg/images/sd_facility_2.jpg">
              </div>
              <div class="item">
                <img alt="" title="" src="../../static/loginreg/images/sd_facility_3.jpg">
              </div>
              <div class="item">
                <img alt="" title="" src="../../static/loginreg/images/sd_facility_4.jpg">
              </div>
              
            </div>
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li class="active" data-slide-to="0" data-target="#article-photo-carousel">
                <img alt="" src="../../static/loginreg/images/sd_facility_0.jpg">
              </li>
              <li class="" data-slide-to="1" data-target="#article-photo-carousel">
                <img alt="" src="../../static/loginreg/images/sd_facility_1.jpg">
              </li>
              <li class="" data-slide-to="2" data-target="#article-photo-carousel">
                <img alt="" src="../../static/loginreg/images/sd_facility_2.jpg">
              </li>
              <li class="" data-slide-to="3" data-target="#article-photo-carousel">
                <img alt="" src="../../static/loginreg/images/sd_facility_3.jpg">
              </li>
              <li class="" data-slide-to="4" data-target="#article-photo-carousel">
                <img alt="" src="../../static/loginreg/images/sd_facility_4.jpg">
              </li>
            </ol>
          </div>
        </div> <!-- end row -->
      </div> <!-- end container -->
    </section>

    <!-- Services Section -->
    <section id="services" class="services-section">
      <div class="container content-container">
        <div class="row">
          <div class="col-lg-12">
            <h1>Services</h1>
            <div id="service-unit-top">
              <div class="service-unit">
                <img src="../../static/loginreg/images/bilingual_icon.png">
                <p>Our instructors are bilingual English/Spanish.</p>
              </div>
              <div class="service-unit">
                <img src="../../static/loginreg/images/sign_lan_icon.png">
                <p>We teach the children sign language to launch verbal development.</p>
              </div>
              <div class="service-unit">
                <img src="../../static/loginreg/images/teacher_student_icon.png">
                <p>We offer small teacher to child ratios.</p>
              </div>
            </div>
            <div id="service-unit-bottom">
              <div class="service-unit">
                <img src="../../static/loginreg/images/montessori_icon.png">
                <p>Our program is Montessori and Reggio inspired.</p>
              </div>
              <div class="service-unit">
                <img src="../../static/loginreg/images/play_learn_icon.png">
                <p>We believe children learn best through play.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Staff Section -->
    <section id="staff" class="staff-section">
      <div class="container content-container">
        <div class="row">
          <div class="col-lg-12">
            <h1>Staff</h1>
            <p>Our caring, experienced staff is dedicated to meeting the individual needs of the children we care for. They're each highly qualified, making sure that your child thrives in our educational and playful environment, always putting your child's safety first.</p>
            <div id="jen" class="staff-unit">
              <img class="staff-pic" src="../../static/loginreg/images/jen.jpeg" alt="">
              <p>Leonardo leads</p>
            </div>
            <div id="paola" class="staff-unit">
              <img class="staff-pic" src="../../static/loginreg/images/paola.jpeg" alt="">
              <p>Donatello does machines</p>
            </div>
            <div id="estela" class="staff-unit">
              <img class="staff-pic" src="../../static/loginreg/images/estela.jpeg" alt="">
              <p>Rafael is cool but rude</p>
            </div>
            <div id="brittany" class="staff-unit">
              <img class="staff-pic" src="../../static/loginreg/images/brittany.jpeg" alt="">
              <p>Michaelangelo is a party dude</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Tuition Section -->
    <section id="tuition" class="tuition-section">
      <div class="container content-container">
        <div class="row">
          <div class="col-lg-12">
            <h1>Tuition</h1>
            <p>Our tuition rates are flexible and affordable, with daily rates for part time and full time enrollment.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="contact-section">
      <div class="container content-container">
        <div class="row">
          <div class="col-lg-12">
            <div id="contact-left">
              <h1>Contact Us</h1>
              <img src="../../static/loginreg/images/daycare_stock.jpg" alt="">
            </div>
            <div id="contact-middle">
              <h4><strong>ADDRESS --</strong> 11504 NE 19th St, Bellevue, WA 98004</h4>
              <h4><strong>PHONE --</strong> 425-453-1216</h4>
              <h4><strong>EMAIL --</strong> smalldimensions3@gmail.com</h4>
              <h4><strong>HOURS --</strong> MON-FRI: 7:00AM - 6:00PM</h4>
              <h4>SAT-SUN: Closed</h4>
              
              <h3>Schedule A Tour Today!</h3>
            </div>
            <div id="map"></div>
              <script>
                function initMap() {
                  var uluru = {lat: 47.627378, lng: -122.186577};
                  var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 14,
                    center: uluru
                  });
                  var marker = new google.maps.Marker({
                    position: uluru,
                    map: map
                  });
                }
              </script>
            
          </div>
        </div>
      </div>
    </section>

    <!-- jQuery -->
    <script src="../../static/loginreg/js/jquery-3.2.1.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../static/loginreg/js/bootstrap.min.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="../../static/loginreg/js/jquery.easing.min.js"></script>
    <script src="../../static/loginreg/js/scrolling-nav.js"></script>

    <!-- Google API Map JavaScript -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_API_KEY }}&callback=initMap"></script>

  </body>
</html>
