
body {
    width: 100%;
    height: 100%;
    font-family: 'Bree Serif', serif;
}

html {
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 43px;
}


/* ------------- Navbar Section ------------ */
@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        background: #d6b9ff;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

#sd-logo-slot {
    padding-top: 0px;
    padding-bottom: 0px;
}

#sd-logo {
    height: 50px;
    width: 50px;
}

/* Demo Sections - The scroller will work with any sort of height, fixed, undefined, or percentage based.
The padding is very important to make sure the scrollspy picks up the right area when scrolled to. Adjust the margin and padding of sections and children
of those sections to manage the look and feel of the site. */

.content-container {
    position: relative;
    top: 40%;
    transform: translateY(-40%);
}

/* ------------- Intro Section ------------ */
.intro-section {
    height: 100%;
    padding-top: 75px;
    text-align: center;
    background: #fffafa
}

.intro-section h3 {
    margin-top: 10px;
    vertical-align: middle; 
}

 /* dynamically centering hero text */
#hero-text {
    position: relative;
    top: 40%;
    transform: translateY(-40%);
}


/* ------------- About Section ------------ */
.about-section {
    height: 100%;
    padding-top: 75px;
    text-align: left;
    background: #ffb3ba;
}

/* Main carousel style */
.carousel {
    margin-left: 3em;
    width: 600px;
}

/* Indicators list style */
.article-slide .carousel-indicators {
    bottom: 0;
    left: 6%;
    margin-left: 1%;
    width: 100%;
}

/* Indicators list style */
.article-slide .carousel-indicators li {
    border: medium none;
    border-radius: 0;
    float: left;
    height: 54px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 5px !important;
    margin-top: 0;
    width: 100px;
}
/* Indicators images style */
.article-slide .carousel-indicators img {
    border: 2px solid #FFFFFF;
    float: left;
    height: 54px;
    left: 0;
    width: 100px;
}
/* Indicators active image style */
.article-slide .carousel-indicators .active img {
    border: 2px solid #428BCA;
    opacity: 0.7;
}


/* ------------- Services Section ------------ */
.services-section {
    height: 100%;
    padding-top: 75px;
    text-align: center;
    background: #ffdfba;
}

.service-unit {
    width: 150px;
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
}

.service-unit img {
    height: 50px;
    width: 50px;
}

#service-unit-top {
    margin-top: 50px;
}

#service-unit-top .service-unit {
    vertical-align: top;
}

#service-unit-bottom {
    margin-top: 30px;
}

#service-unit-bottom .service-unit {
    vertical-align: top;
}


/* ------------- Staff Section ------------ */
.staff-section {
    height: 100%;
    padding-top: 75px;
    text-align: center;
    background: #ffffba;
}

.staff-unit {
    display: inline-block;
    margin-right: 20px;
}

.staff-unit img {
    height: 270px;
    width: 190px;
    margin-bottom: 8px;
}


/* ------------- Tuition Section ------------ */
.tuition-section {
    height: 100%;
    padding-top: 75px;
    text-align: center;
    background: #baffc9;
}


/* ------------- Contact Section ------------ */
.contact-section {
    height: 100%;
    padding-top: 75px;
    text-align: left;
    background: #bae1ff;
}

#contact-left {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

#contact-left h1 {
    margin-top: 10px;
}

#contact-left img {
    height: 345px;
    width: 310px;
}

#contact-middle {
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
    margin-top: 100px;
}

 #map {
    height: 427px;
    width: 400px;
    display: inline-block;
    border: 2px solid white;
} 

